@model MVC_OC.Models.OCModels

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy jesteś pewny, że chcesz usunąć ten rekord z bazy?</h3>
<div>
    @*<h4>OCModels</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Descripton)*@
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripton)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CarModel)*@
            Model pojazdu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
