@model IEnumerable<MVC_OC.Models.OCModels>

@{
    ViewBag.Title = "OC Database";
}

<h2>Baza OC</h2>

<p>
    @Html.ActionLink("Dodaj pozycję", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Opis
            @*@Html.DisplayNameFor(model => model.Descripton)*@
        </th>
        <th>
            Model pojazdu
            @*@Html.DisplayNameFor(model => model.CarModel)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.OC_ID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.OC_ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.OC_ID })
        </td>
    </tr>
}

</table>
