@model IEnumerable<MVC_OC.Models.OCModels>

@{
    ViewBag.Title = "OC Database";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OC_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OC_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OC_ID })
        </td>
    </tr>
}

</table>
